<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Budgertia Documentation</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<h1>How to Use Budgertia</h1>
<pre>{{ doc_content }}</pre>
{{ encore_entry_script_tags('app') }}
</body>
</html>
