<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Tester</title>
    {{ encore_entry_link_tags('tester') }}
</head>
<body>
<div id="tester"></div>
{{ encore_entry_script_tags('tester') }}
</body>
</html>
